<div class="products-container">
  <div class="products-header">
    <h1 class="page-title">\ud83d\udce6 Productos</h1>
    <a routerLink="/products/create" class="btn-create">+ Nuevo Producto</a>
  </div>

  <div class="products-list">
    <div
      class="product-card"
      *ngFor="let product of products()"
    >
      <div class="product-image-container">
        <img
          class="product-image"
          [src]="product.image"
          alt="{{ product.title }}"
        />
      </div>

      <div class="product-info">
        <h3>{{ product.title }}</h3>
        <div class="product-price">{{ product.price }} \u20ac</div>

        <div class="product-actions">
          <button
            *ngIf="auth.getUser()?.role === 'admin'"
            (click)="editProduct(product.id)">
            Editar
          </button>

          <button
            *ngIf="auth.getUser()?.role === 'admin'"
            (click)="deleteProduct(product.id)">
            Eliminar
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
